.Home{
    height: 100vh;
    width: 100vw;
}

.HomeWrapper{
    margin: 50px 10px;
}

.cityContainer{
    border: solid;
    border-color: black;
    display: flex;
    position: relative;
    

}

.cityName{
    align-items: flex-end;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    
    
}

.cityButton{
    display: flex;
    position: absolute;
    justify-content: space-between;
    right: 0;
    height: 100%;
}


.pagination {
    display: inline-block;
  }
  
  .pagination button {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
  }
  
  .pagination button.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .pagination button:hover:not(.active) {background-color: #ddd;}
